body{
    padding: 0;
    margin: 0;
}

.principal img{
    width: 100%;
}

h4{
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 150px;
}
h2{
    position: absolute;
    top: 158rem;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
}

.parrafo{
    position: absolute;
    top: 167rem;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
}
.barra{
    margin-top: -5rem;
    margin-left: 24rem;
    margin-right: 27rem;
}

.boton{
    position: absolute;
    top: 173rem;
    left: 67%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 94, 94);
    color: white;
    border-color: rgb(255, 94, 94);
}

button{
    width: 150px;
    height: 50px;
    background:rgb(255, 94, 94);
    border-radius: 30px;
    color: white;
    border-color: rgb(255, 94, 94);
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 25rem;
    margin-top: 6rem;
}

.container1{
    display: flex; 
    justify-content: center;
    flex-direction:row-reverse;
    margin-left: 23rem;
    margin-top: 7rem;
}

.title{
    background: linear-gradient(to right, red,#9d09ff, #8400ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.texto{
    width: 45%;
    margin-top: 7px;
}
.texto1{
    width: 57%;
    margin-top: 7px;
}

.img-2 img{
    height: 400px;
    margin-right: 150px;
}

.img-1 img{
    height: 400px;
    margin-right: 18rem;
}


footer{
    height: 31rem;
    width: 100%;
    background:linear-gradient(#fc5252,#f80202); 
    
}


.img-3 img{
    width: 100%;
     display: flex ;
    margin-top: 7rem;
}

.footer-container{
    display:inline-flex;
    height: 500px;
    width:500px;
    
}

.footer-container li{
    list-style: none;
}

.footer-container .PRIMERO{
    display:flex;
    color: white;
    margin-top: 5rem;
    margin-left: 28rem;
    justify-content:space-between
}

.footer-container .SEGUNDO{
    display:flex;
    justify-content: center;
    color:white;
    margin-top: 5rem;
    margin-left: 5rem;
}
.footer-container .TERCERO{
    display:flex;
    justify-content: center;
    color:white;
    margin-top: 5rem;
    margin-left: 5rem;
}
.footer-container .CUARTO{
    display:flex;
    justify-content: center;
    color:white;
    margin-top: 5rem;
    margin-left: 5rem;
}

ul li{
    margin-bottom: 1.5rem;
}

.adress{
    margin-top: 3rem;
}

.copy{
    display: flex;
    justify-content: space-between;
    margin-top: -8rem;
    margin-left: -7rem;
}

h5{
    color:white;
    display: flex;
    margin-left: 11rem;
    font-size: 15px;
    margin-top: 6rem;
}
h6{
    color:white;
    display: flex;
    margin-right: 8rem;
    font-size: 15px;
    margin-top:6rem;
}